/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.comment-form-anonimize {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 1.6rem;
}
